<!--
  Generated template for the ListmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

  <ion-navbar transparent>
    <ion-row>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0; font-size:5px;"> Add Item</ion-title>
      </ion-col>
      <ion-col col-3>
        <ion-buttons end>
          <button ion-button (click)="closeModal()">Close</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <ion-item>
    <ion-label floating primary>Product</ion-label>
    <ion-input type="text" name="product" [(ngModel)]="product" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating primary>Store</ion-label>
    <ion-input type="text" name="store" [(ngModel)]="shopowner"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating primary>Price</ion-label>
    <ion-input type="text" name="price" [(ngModel)]="price"></ion-input>
  </ion-item>
  <button ion-button block id="addbtn" (click)="addItem()" >Add List</button>
</ion-content>
