page-login {
    #logo{
     width:150px;
      height: auto;
      margin-top:20px;
      padding-left:5px;
    }

  #title{
    font-size:25px;
    font-weight: bold;
    margin-left:15px;
    margin-bottom:0;
    padding:0;
  }
  #loginform{
    padding:0;
  }
  #loginbtn{
    padding:5px;
    //box-shadow: 0px 25px 5px #f1f1f1;
   box-shadow: 1px 30px 25px rgba(0, 0, 0, .1);
    width:90%;
    margin:0px auto;
    height:60px;
    background: #56ab2f;
    background: -webkit-linear-gradient( #56ab2f, #a8e063);
    background: linear-gradient( #56ab2f, #a8e063);
  }
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }
  #forgot{
    font-size:12px;
    color:#9e9e9e;
    font-size:15px;
    text-decoration: none;
    margin-top:25px !important;
  }
  #newuser{
    padding-top:10px;
    color:#9e9e9e;
    font-size:18px;
  }
  #signup{
    color:#56ab2f;
    font-size: 18px;
  }
}
