<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>-->
    <!--<ion-title>login</ion-title>-->
  <!--</ion-navbar>-->

</ion-header>


<ion-content padding >
  <img src="assets/imgs/Logo2.png" id="logo">
      <h1 id="title">Welcome Back</h1>
      <h6 no-padding no-margin style="font-weight: bold;color:#9e9e9e;margin-left:14px;">Sign in to continue</h6>
  <form id="loginform" (ngSubmit)="login()" #registerForm="ngForm">
      <ion-item>
          <ion-label floating primary>Email</ion-label>
          <ion-input type="text"  name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
          <ion-label floating primary>Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" [type]="passwordType" clearOnEdit="false" required></ion-input>

            <ion-icon [name]="passwordIcon"  class="passwordIcon" color="dark" item-end  (click)="showHide()"></ion-icon>
    </ion-item>
    <ion-item no-lines>
        <a (click)="goForgot()"  class=pull-right id="forgot">Forgot Password?</a>
    </ion-item>
    <button  ion-button block  id="loginbtn"  class="w3-btn" ><b>Login</b></button>
  </form>
    <p text-center padding id="newuser"><b>New User? &nbsp;
    <a (click)="goRegister()" id="signup">Sign Up</a></b></p>

  <!--[disabled]="!registerForm.form.valid"-->
  <!-- <button (click)=bypass() >Bypass</button> -->
</ion-content>
