page-changepassword {
  #loginbtn{
    background: #56ab2f;
    background: -webkit-linear-gradient(135deg, #56ab2f, #a8e063);
    background: linear-gradient(-55deg, #56ab2f, #a8e063);
  }
  .notification {
    padding-top: 16px !important;
  }
}
