<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-row margin>
      <ion-col col-9>
        <ion-title text-center style="margin-left: 0;margin-right: 0;font-size: 5px;padding:5px;">Password </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>



  </ion-navbar>

</ion-header>
<ion-content>
  <form id="updatepasswordform" (ngSubmit)="changePassword()" #changePasswodForm="ngForm" padding>
    <ion-item>
      <ion-label stacked primary>Email</ion-label>
      <ion-input type="text"  name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked primary>Old Password</ion-label>
      <ion-input type="password" name="oldpassword" [(ngModel)]="oldpassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked primary> New Password</ion-label>
      <ion-input type="password" name="newpassword" [(ngModel)]="newpassword" required></ion-input>
    </ion-item>
    <button  ion-button block  id="loginbtn"  class="w3-btn" style="margin-top:15px;" ><b>Update password</b></button>
    </form>
</ion-content>
