<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title text-end >Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<form id="signupform" (submit)="register()" [formGroup]="form">-->
    <ion-item>
      <ion-label floating primary>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating primary>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label floating primary>Password</ion-label>
    <ion-input  name="password" [(ngModel)]="password" [type]="passwordType" clearOnEdit="false" required></ion-input>
    <ion-icon [name]="passwordIcon"  class="passwordIcon" color="dark" item-end  (click)="showHide()"></ion-icon>


  </ion-item>
    <ion-item no-lines>
      <button ion-button block  id="signupbtn" class="w3-btn" (click)="register()">Sign Up</button>
    </ion-item>


  <!--</form>-->
  <p text-center no-padding no-margin style="font-size:18px; color:#9e9e9e;"><b>Or</b></p>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="facebookLogin()" class="socialbtn"><i class="fa fa-facebook-f" style="margin-right:25px;" ></i>facebook</button>
      </ion-col>
      <ion-col> <button ion-button block style="background-color:#f53d3d; " (click)="googleLogin()" class="socialbtn"  ><i class="fa fa-google-plus" style="margin-right:25px;" ></i> &nbsp;&nbsp; Gmail</button></ion-col>
    </ion-row>
  <ion-buttons>


  </ion-buttons>
</ion-content>
