page-register {
  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
  }

    .circle{
      border-radius: 50%;
      margin: 0.15em;
      font-size: 10em;
    }
  .fa-facebook{
    background: #fff;
    color: blue;
    padding: 0.05em 0.3em;

  }
  #signupbtn{
    padding:5px;
    box-shadow: 1px 30px 25px rgba(0, 0, 0, .1);
    width:90%;
    //margin-top: 20px;
    margin:20px auto;
    height:60px;
    background: #56ab2f;
    background: -webkit-linear-gradient(135deg, #56ab2f, #a8e063);
    background: linear-gradient(-55deg, #56ab2f, #a8e063);
  }
  .socialbtn{
    box-shadow: 1px 30px 25px rgba(0, 0, 0, .1);
  }
}
