<!--
  Generated template for the FavouritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar #navbar transparent >
    <ion-row margin>
      <ion-col col-3>
        <!--<ion-buttons>-->
        <!--<button ion-button icon-only (click)="setBackButtonAction()"><ion-icon name="ios-arrow-back-outline" ></ion-icon></button>-->
        <!--</ion-buttons>-->
        <!--<ion-buttons end>-->
        <!--<button icon-only (click)="setBackButtonAction()">-->
        <ion-icon name="ios-arrow-round-back-outline" style="font-size:3.0em;padding-left:10px;"  (click)="goBack()" ></ion-icon>
      </ion-col>
      <ion-col col-6><ion-title>Favourite</ion-title></ion-col>
      <ion-col col-3>
          <button icon-only style="background-color:transparent;padding:14px;" (click)="deleteAll()">Clear</button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list [virtualScroll]="favourList"  style="margin-bottom:5px;" [approxItemHeight]="'200px'" [approxItemWidth]="'200px'" >

    <ion-item *virtualItem="let product" no-margin style="width: 100%;" >
      <!--<ion-card-content>-->
      <ion-row >
        <ion-col col-5>
          <img src="{{product?.productimage}}" style="height: 120px; width:200px;" (click)="goDetail(product?.productid)"/>
          <!--<div style="height: 120px; width:200px;"  [style.background-image]="'url(' product?.productimage ')'">></div>-->
        </ion-col>
        <ion-col col-6 margin-vertical style="padding-top:20px;">
          <b style="font-size: 14px; font-weight:500;white-space: normal" wrap>{{product?.productname}}</b><br>
          <b style="font-size:18px; font-weight: bolder;color:#65b438" end>&#8358;{{product?.price}}</b><br>
          <!--<span style="font-size:10px;color:#9e9e9e;" >From</span>-->
          <p style="font-size:12px;color:#9e9e9e;padding-top:5px">{{product.store}}</p>
        </ion-col>
        <ion-col col-1>
          <ion-icon color="danger" name="ios-trash-outline" style="margin-top:10px; font-size:1.5em" (click)="delete(product.id)"></ion-icon>
        </ion-col>
      </ion-row>

      <!--</ion-card-content>-->
    </ion-item>
  </ion-list>
  <div *ngIf="!favourList.length" class="favouriteCon">
    <img src="assets/imgs/bg_fav.png" class="favouriteImg"/>
    <p style="text-align: center">You haven't added anything to your favourites list yet!</p>
  </div>
</ion-content>
