page-tabs {
  ion-tab{

  }
  .tab-button{
    //border-right:1px solid #000;
    //padding-top:16px;
    //padding-bottom:16px;
    color: #424242;
  }
  .tab-button-text{
    font-size:6.5px !important;
    color: #f7f7f7;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
     color:  #fff;
   // #c78c96, #8ae1dc, #179e93, #ef609a,#953c51
   }


  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #fff;
  }
  .divider{
    width:10px;
    color:#fff;
    margin: auto 0px;
  }
  .tabcolor{
    color: #f4f4f4;
    background: #56ab2f;
    background: -webkit-linear-gradient( #56ab2f, #a8e063);
    background: linear-gradient( #56ab2f, #a8e063);
  }
}
