<ion-tabs color="secondary">
  <ion-tab [root]="tabRoot1" tabTitle="Home" tabIcon="ios-home-outline" [rootParams]="navParams.data"></ion-tab>
  <!--<div class="divider"></div>-->
  <ion-tab [root]="tabRoot3" tabTitle="Search" tabIcon="ios-search-outline" [rootParams]="navParams.data" ></ion-tab>
  <ion-tab [root]="tabRoot2" tabTitle="Category" tabIcon="ios-apps-outline" ></ion-tab>

  <ion-tab [root]="tabRoot4" tabTitle="Hot Deals" tabIcon="ios-pricetags-outline"></ion-tab>
</ion-tabs>
