page-push {
    #signupbtn{
        padding:5px;
        box-shadow: 1px 30px 25px rgba(0, 0, 0, .1);
        width:90%;
        //margin-top: 20px;
        margin:20px auto;
        height:60px;
        background: #00a8e5;
        background: -webkit-linear-gradient(135deg, #00a8e5, #e92e7e);
        background: linear-gradient(-55deg, #00a8e5, #e92e7e);
      }
}
