<!--
  Generated template for the PushPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-title style="font-size:8px;">Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!ready">
      <p>check back later</p>
  </div>
  <!--<div>-->
    <ion-list *ngIf="ready">
      <ion-item text-wrap>
        <p><b>{{pushMessage}}</b></p>
      </ion-item>
      <ion-item *ngFor="let notice of notification" text-wrap>
        <p>{{notice.title}}</p>
        <p>{{notice.message}}</p>
      </ion-item>
    </ion-list>
  <!--</div>-->


</ion-content>
