<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-row>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="ios-menu-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0;font-weight: bolder; font-size:5px;"> Category </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification" style="margin-right:5px; "><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>

  </ion-navbar>
</ion-header>


<ion-content  style="background-color:#f4f4f4;padding:0px 15px" >
  <ion-grid>
    <ion-row style="margin:1px;">
      <ion-col col-6 *ngFor="let product of category" style="padding:1px;">
        <ion-card no-margin no-padding style="width: 100%;" text-center (click)="goDetail(product?.id)">
          <img src="{{product?.photo}}" id="categoryImage" />
          <ion-card-content no-padding>
            <p text-center style="color:#9e9e9e;font-size:15px;margin:15px 0" wrap>
              {{product.name}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
