<!--
  Generated template for the HomesearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-9>
        <ion-title style="margin-left: 0;margin-right: 0;text-align: center;padding:0px auto;"> {{value}}</ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>

  </ion-navbar>
  <!--<ion-toolbar no-border-top>-->
    <!--<ion-searchbar-->
      <!--(ionInput)="getItems($event)" [debounce]="700"-->
      <!--id="searchbars" >-->
    <!--</ion-searchbar>-->
  <!--</ion-toolbar>-->
</ion-header>


<ion-content  style="background-color:#f4f4f4;">

  <!--*ngFor="let product of items"-->
  <!--[approxItemHeight]="'15px'"-->
  <div *ngIf="isTrue">
    <ion-list [virtualScroll]="searchProduct"  style="margin-bottom:5px;" [approxItemHeight]="'200px'" [approxItemWidth]="'200px'" >

      <ion-item *virtualItem="let product;let i =index" no-margin style="width: 100%;" >
        <!--<ion-card-content>-->
        <ion-row no-margin no-padding>
          <ion-col col-11>
            <ion-row (click)="goDetail(product?.id)">
              <ion-col col-5>
                <img src="{{product?.productimage}}" style="height: 120px; width:200px;" />
              </ion-col>
              <ion-col col-6 margin-vertical style="padding-top:20px;">
                <b style="font-size: 14px; font-weight:500;white-space: normal" >{{product?.name}}</b><br>
                <b style="font-size:18px; font-weight: bolder;color:#65b438" end>&#8358;{{product?.price?.slice(0,-3)}}</b><br>

                <p style="font-size:12px;color:#9e9e9e;padding-top:5px" >{{product.shopowner}}</p>
              </ion-col>

            </ion-row>
          </ion-col>
          <ion-col col-1>
            <ion-icon [name]="product.icon || initialButtonIcon" style="margin-top:10px; font-size:1.5em" (click)="addToFavour(product.name,product.productimage,product.price,product?.shopowner,product?.id,product)" ></ion-icon>
          </ion-col>
        </ion-row>

        <!--</ion-card-content>-->
      </ion-item>
    </ion-list>

  </div>

  <!--</ion-scroll>-->
    <div *ngIf="!isTrue" class="noResultCover">
      <img src="assets/imgs/search.png" class="noResultImg"/>
      <p style="text-align: center">No Result Found</p>
      <!--<h5 text-center>No results found, you might be interested in</h5>-->
      <!--<ion-list [virtualScroll]="allproduct"  style="margin-bottom:5px;" [approxItemHeight]="'200px'" [approxItemWidth]="'200px'" >-->

        <!--<ion-item *virtualItem="let product" no-margin style="width: 100%;" >-->
          <!--&lt;!&ndash;<ion-card-content>&ndash;&gt;-->
          <!--<ion-row >-->
            <!--<ion-col col-4>-->
              <!--<img src="{{product?.productimage}}" style="height: 120px; width:200px;" (click)="goDetail(product?.id)"/>-->
            <!--</ion-col>-->
            <!--<ion-col col-7 margin-vertical no-padding>-->
              <!--<b style="font-size: 18px; font-weight:500" wrap>{{product?.name}}</b><br>-->
              <!--<b style="font-size:15px; font-weight: bolder;" end>&#8358;{{product?.price?.slice(0,-3)}}</b><br>-->
              <!--<span style="font-size:10px;color:#9e9e9e;" >From</span>-->
              <!--<p style="font-size:12px;color:#9e9e9e;" >{{product.shopowner}}</p>-->
            <!--</ion-col>-->
            <!--<ion-col col-1>-->
              <!--<ion-icon name="ios-heart-outline" style="margin-top:10px; font-size:1.5em" (click)="addToFavour(product.name,product.productimage,product.price,product?.shopowner,product?.id)" ></ion-icon>-->
            <!--</ion-col>-->
          <!--</ion-row>-->

          <!--&lt;!&ndash;</ion-card-content>&ndash;&gt;-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    </div>
</ion-content>

