page-homesearch {
  [col-10] {
    padding: 8px !important;
  }

  .productImage {
    width: 100%;
    height: 150px;
    padding:10px;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position-x: center;
    //background-position-y: center;

  }
}
