<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>

    <ion-navbar transparent>
      <ion-row>
        <ion-col col-3>
          <!--<button ion-button >-->
            <ion-icon name="ios-arrow-round-back-outline" style="font-size:3.0em;padding-left:10px;" (click)="goBack()" ></ion-icon>
          <!--</button>-->
        </ion-col>
        <ion-col col-6>
          <ion-title text-center style="margin-left: 0;margin-right: 0; font-size:5px;"> Shopping List</ion-title>
        </ion-col>
        <ion-col col-3>
          <button icon-only style="background-color:transparent;padding:14px;">Clear</button>
        </ion-col>
      </ion-row>
    </ion-navbar>

  </ion-header>


<ion-content padding>
  <ion-card class="totalcard" >
    <ion-card-content>
      <h1 text-center style="color:#fff;"><b>Total:&#8358; {{getTotal() }}</b></h1>
    </ion-card-content>
  </ion-card>
  <!--<ion-list>-->
    <!--<ion-item-sliding *ngFor = "let d of lists; let i=index;">-->
      <!--<ion-item>-->
        <ion-card *ngFor = "let d of lists; let i=index;" style="margin-top: 10px;">
          <ion-row style="border-bottom: 2px solid #56ab2f;height: auto" no-margin>
            <ion-col col-4 style="border-right: 1px solid #9e9e9e;"><p text-center>{{d.product}}</p></ion-col>
            <ion-col col-4 style="border-right: 1px solid #9e9e9e;"><p text-center>{{d.store}}</p></ion-col>
            <ion-col col-4 no-padding>
                Qty:<ion-input type="number" name="qty" [(ngModel)]="d.qty" style="border:1px solid#56ab2f;" maxlength="1" no-padding></ion-input>

            </ion-col>
          </ion-row>
          <ion-row style="font-size:15px; margin: 0;padding-bottom: 0; height: 40px;" no-margin no-padding>
            <ion-col style="border-right:1px solid #9e9e9e;" col-4 text-center>
              Price:  <b>{{d.price}}</b>
            </ion-col>
            <ion-col style="border-right:1px solid #9e9e9e;" col-6 text-center> Total: <b style=" font-weight: bolder; border-bottom:1px solid #56ab2f;border-bottom-style: double">&#8358; {{showAmount(d.qty * d.price)}}</b></ion-col>
            <ion-col text-center><ion-icon name="trash" color="danger"  (click)="delete(d.id)"></ion-icon></ion-col>
          </ion-row>

        </ion-card>
      <!--</ion-item>-->

      <!--<ion-item-options slide="left">-->
        <!--<button ion-button color="danger" (click)="delete(d.id)">-->
          <!--<ion-icon name="trash"></ion-icon>-->
          <!--DELETE-->
        <!--</button>-->
      <!--</ion-item-options>-->

    <!--</ion-item-sliding>-->
  <!--</ion-list>-->




    <!--<p *ngIf="!lists.length">Your check List is Empty</p>-->

    <ion-fab right top #fab >
      <button ion-fab  id="fabbtn" (click)="addToList()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
