page-dealproduct {
  #price{
    text-decoration: line-through;
    color:red;
    font-size:15px;
  }
  .card-content-md {
     padding: 2px !important;

  }
  ion-app [no-padding]{
    padding: 10px !important;
  }
  .productcard {
    width: 100% !important;
    display: inline-block;
    //box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);
    //padding:2px;
    //min-height:350px;
  }
  .productImage{
    width:200px;
    height:150px;
    padding:0px auto;
    background-size: cover;
  }
  .card-md {
    margin: 0px !important;
  }
  .card-title-md {
    margin: 0 0 !important;
    padding: 0px 2px !important;
  }
}
