<!--
  Generated template for the DealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-9>
        <ion-title style="margin-left: 0;margin-right: 0;text-align: center;padding:0px auto;"> Deals</ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>

  </ion-navbar>

</ion-header>



<ion-content style="background-color:#f4f4f4">
<ion-grid no-margin style="padding:4px;" no-padding>
    <ion-row >
      <ion-col *ngFor="let product of deals"  col-4 style="padding:2px;">
        <!--<ion-card no-margin style="width: 100%; padding:2px; box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);" (click)="goDetails(product?.id)"  class="w3-card-2" >-->
          <!--<img src="{{product?.productimage}}"  style="height: 150px; width:200px" />-->
          <!--<ion-card-content>-->
            <!--<ion-card-title no-padding>-->
              <!--&lt;!&ndash;<p style="font-size: 7px;color:#9e9e9e"> from</p>&ndash;&gt;-->
              <!--<h5 id="dealprice" ><b>&#8358; {{product?.dealprice?.slice(0,-3)}}</b>&nbsp;<span id="price">{{product?.price.slice(0, -3)}}</span></h5>-->
              <!--<p style="font-size: 15px;" color="text">{{product?.name}}</p>-->
              <!--<p style="font-size: 10px;color: #9e9e9e" color="text">{{product?.shopowner}}</p>-->
            <!--</ion-card-title>-->
          <!--</ion-card-content>-->
        <!--</ion-card>-->
        <ion-card  class="productcard" (click)="goDetails(product?.id)"  >
          <img src="{{product?.productimage}}"     class="productImage"/>
          <ion-card-content text-center>
            <ion-card-title class="cardtitle" style="text-align: center; width:100%;" >
              <h3  color="text" style="font-size:1.2rem" wrap>{{product?.name}}</h3>

              <h3 style="color:green"><b>&#8358; {{product?.dealprice?.slice(0,-3)}}</b>&nbsp;<span id="price">{{product?.price.slice(0, -3)}}</span></h3>
              <p style="font-size: 10px;color: #9e9e9e" color="text">{{product?.shopowner}}</p>
              <!--<p style="font-size: 12px;color:#9e9e9e"> from</p>-->
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
