<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <!--<ion-toolbar>-->
    <!--<ion-buttons start>-->
      <!--<button (click)="goBack()" royal>-->
        <!--<ion-icon name="arrow-round-back"></ion-icon>-->
      <!--</button>-->

    <!--</ion-buttons>-->
    <!--<ion-title>Profile</ion-title>-->
  <!--</ion-toolbar>-->
  <ion-navbar #navbar transparent >
    <ion-row margin>
      <ion-col col-3>
        <!--<ion-buttons>-->
          <!--<button ion-button icon-only (click)="setBackButtonAction()"><ion-icon name="ios-arrow-back-outline" ></ion-icon></button>-->
        <!--</ion-buttons>-->
        <!--<ion-buttons end>-->
          <!--<button icon-only (click)="setBackButtonAction()">-->
            <ion-icon name="ios-arrow-round-back-outline" style="font-size:3.0em;padding-left:10px;" (click)="goBack()" ></ion-icon>
          <!--</button>-->
        <!--</ion-buttons>-->

      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0;font-size: 5px;">Profile </ion-title>
      </ion-col>
      <ion-col col-3>
        <p style="font-size:15px" *ngIf="!isModificationEnable" (click)="editProfile()">Edit Profile</p>
        <p style="font-size:15px" *ngIf="isModificationEnable" (click)="saveProfile()" float-end>Save</p>
        <!--<ion-icon name="ios-create-outline" style="font-size:1.9em" float-end icon-only (click)="editProfile()" ></ion-icon>-->
      </ion-col>
    </ion-row>



  </ion-navbar>

</ion-header>
<ion-content padding>

  <div >
    <ion-item>
      <ion-label stacked color="secondary">Name</ion-label>
      <ion-input type="text"  [(ngModel)]="name" [disabled]="!isModificationEnable" ></ion-input>
    </ion-item>
    <ion-item margin>
      <ion-label stacked color="secondary">Email</ion-label>
      <ion-input type="text"  [(ngModel)]="email" [disabled]="!isModificationEnable" ></ion-input>
    </ion-item>

    <button  ion-button block  class="loginbtn" color="secondary"   style="margin:15px auto;" (click)="updateProfile()" ><b>Update Password</b></button>
  </div>
  <!--<div *ngIf="!view">-->
    <!--<ion-item>-->
      <!--<ion-label floating color="secondary">Name</ion-label>-->
      <!--<ion-input type="text"  [(ngModel)]="name" ></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item margin>-->
      <!--<ion-label floating color="secondary">Email</ion-label>-->
      <!--<ion-input type="password"  [(ngModel)]="email"></ion-input>-->
    <!--</ion-item>-->

    <!--<button  ion-button block  class="loginbtn" color="secondary"   style="margin:15px auto;" (click)="UpdateProfile()" ><b>Update</b></button>-->
  <!--</div>-->
</ion-content>
