page-profile {
  #loginbtn{
    padding:5px;
    //box-shadow: 0px 25px 5px #f1f1f1;
    box-shadow: 1px 30px 25px rgba(0, 0, 0, .1);
    width:90%;
    margin:0px auto;
    height:60px;
    background: #56ab2f;
    background: -webkit-linear-gradient( #56ab2f, #a8e063);
    background: linear-gradient( #56ab2f, #a8e063);
  }
  .toolbar-title-md .toolbar-title-md {
    padding: 5px 12px !important;

  }
  .toolbar-title-md {
    padding: 5px 12px !important;
  }
}
