<!--
  Generated template for the MaplistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar transparent>
    <ion-row>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0; font-size:5px;">Branches</ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="notifications" ></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<ion-searchbar-->
    <!--(ionInput)="searchBranch($event)"-->
    <!--id="searchbars" placeholder="search branches">-->
  <!--</ion-searchbar>-->
  <ion-list padding >
    <ion-item *ngFor="let branch of branchList" (click)="itemTapped($event, branch.address)">
      <ion-row>
        <ion-col col-2>
          <h2><ion-icon ios="ios-pin" md="md-pin" color="danger"></ion-icon></h2>
        </ion-col>
        <ion-col col-10>
          <h2>{{branch.name}}</h2>
          <p>{{branch.address}}</p>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

  <!--<ion-list *ngIf="isFiltered">-->
    <!--<ion-item *ngFor="let branch of filteredBranch" (click)="itemTapped($event, branch.address)">-->
      <!--<ion-row>-->
        <!--<ion-col col-3>-->
          <!--<h2><ion-icon ios="ios-pin" md="md-pin" color="danger"></ion-icon></h2>-->
        <!--</ion-col>-->
        <!--<ion-col col-9>-->
          <!--<h2>{{branch.name}}</h2>-->
          <!--<p>{{branch.address}}</p>-->
        <!--</ion-col>-->
      <!--</ion-row>-->

    <!--</ion-item>-->
  <!--</ion-list>-->

</ion-content>
