<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-row margin>

      <ion-col col-9>
        <ion-title text-center style="margin-left: 0;margin-right: 0;text-align: center;padding:0px auto;"> <img src="assets/imgs/Logo2.png" id="titleimg">  </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification" (click)="notification()"><ion-icon name="ios-notifications-outline" ></ion-icon>
          <!--<ion-badge item-end color="secondary" *ngIf="badge" >{{badgeNumber}}</ion-badge>-->
        </button>
      </ion-col>
    </ion-row>



  </ion-navbar>

</ion-header>

<!--background-color:#f4f4f4-->
<ion-content class="tabs-positive tabs-icon-top" style="background-color:#f7f7f7; padding:0;">
  <!--<div class="fixed-content">-->
    <div style="width: 100%;height:200px; margin:0; padding:0"  class="slideimage">
      <ion-slides *ngIf="levelTwoAd.length" autoplay="7000" pager="false" loop="true" effect="fade"  style="padding:0; margin:0">

        <ion-slide *ngFor="let two of levelTwoAd">
          <!-- <img src="{{two.photo}}"  class="slideimg" (click)="adlink(two?.url)"> -->
          <img src="{{two.photo}}"  class="slideimg"  (click)="adlink(two?.url)" />

        </ion-slide>

      </ion-slides>
      <img src="assets/imgs/blank_banner.png" class="slideimg" *ngIf="!levelTwoAd.length">
      <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!levelTwoAd.length"></ion-spinner>-->
    </div>

    <ion-searchbar
      (search)="getItems($event)"  [showCancelButton]="shouldShowCancel"
      id="searchbar" placeholder="Search Products" >
    </ion-searchbar>
    <!-- <ion-spinner text-center *ngIf="!loaded"></ion-spinner> -->

    <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!levelTwoAd.length"></ion-spinner>-->

    <!--deals list-->
    <div *ngIf="showfirst" id="dealdiv" >
      <ion-row  >
        <ion-col >
          <p color="text" style="font-weight: bold;color:#9e9e9e; margin-left:10px;" no-margin padding-10 >Shop By Store</p>
        </ion-col>
        <ion-col >
          <p float-end color="text2" style="color:#4caf50" no-margin padding-10 (click)="viewAllDeals()" >view all &nbsp;<ion-icon name="arrow-round-forward" ></ion-icon></p>
        </ion-col>
      </ion-row>
    </div>

    <div id="dealscroll" >
      <!--<ion-row>-->
        <!--<ion-item no-lines>-->
          <ion-scroll scrollX="true" style=" white-space: nowrap;height: 150px;overflow: hidden;">
            <ion-card *ngFor="let deal of deallist" class="" no-margin style="width:120px; display:inline-block" (click)="dealDetails(deal?.id)" >
              <img src="{{deal?.ownerbrand}}"  class="shopImage"/>

            </ion-card>
          </ion-scroll>
        <!--</ion-item>-->
      <!--</ion-row>-->
      <!--<ion-grid no-margin no-padding>-->
        <!--<ion-row >-->

          <!--<ion-col *ngFor="let deal of deallist"  col-4 style="padding:2px;">-->
            <!--<ion-card no-margin style="width: 100%; padding:2px;box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);" (click)="dealDetails(deal?.id)">-->
              <!--<img src="{{deal?.ownerbrand}}"  class="shopImage"/>-->
              <!--&lt;!&ndash;<ion-card-content>&ndash;&gt;-->
                <!--&lt;!&ndash;<ion-card-title no-padding>&ndash;&gt;-->
                  <!--&lt;!&ndash;<p style="font-size: 10px;color: #9e9e9e;white-space: nowrap;" color="text">{{deal?.shopowner}}</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-card-title>&ndash;&gt;-->
              <!--&lt;!&ndash;</ion-card-content>&ndash;&gt;-->
            <!--</ion-card>-->
          <!--</ion-col>-->
        <!--</ion-row>-->
      <!--</ion-grid>-->
      <!--<ion-scroll scrollX="true" direction="x" style=" height: 150px" >-->
        <!--<ion-card *ngFor="let deal of deallist" no-margin style="width:120px; padding:2px;" (click)="dealDetails(deal?.id)" >-->
          <!--<img src="{{deal?.ownerbrand}}"  class="shopImage"/>-->

        <!--</ion-card>-->
      <!--</ion-scroll>-->

      <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!deallist.length"></ion-spinner>-->
    </div>


      <!--product list-->
      <div *ngIf="showfirst"  class="productdiv" >
        <ion-row  >
        <ion-col>
          <p color="text" style="font-weight: bold;color:#9e9e9e; margin-left:10px;" no-margin padding-10 >Top Products</p>
        </ion-col>
        <ion-col>
          <p float-end color="text2" style="color:#4caf50" no-margin padding-10 (click)="viewAll()" >view all &nbsp;<ion-icon name="arrow-round-forward" ></ion-icon></p>
        </ion-col>
      </ion-row>
      </div>

      <div >
          <ion-scroll scrollX="true" direction="x" class="productscroll" >
            <ion-card *ngFor="let product of threeProduct|slice:0:10" class="productcard" (click)="goDetails(product?.id)"  >
              <img src="{{product?.productimage}}"     class="productImage"/>
              <ion-card-content text-center>
                <ion-card-title class="cardtitle" style="text-align: center; width:100%;" >
                  <h3  color="text" style="font-size:1.2rem" wrap>{{product?.name}}</h3>
                  <p style="font-size: 12px;color:#9e9e9e"> from</p>
                  <h3 style="color:green"><b>&#8358; {{product?.price?.slice(0,-3)}}</b></h3>

                </ion-card-title>
              </ion-card-content>
            </ion-card>

           </ion-scroll>
        <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!threeProduct.length"></ion-spinner>-->
      </div>


  <div  id="secondadvert" style="width: 100%;height:120px;">
    <ion-slides *ngIf="levelThreeAd.length" autoplay="7000" pager="false" effect="fade" loop="true" speed="3000" style="width: 100%;height:60px;overflow:hidden;">

      <ion-slide *ngFor="let two of levelThreeAd" style="height: 146px;width:100%">
       <img src="{{two?.photo}}" class="slideimg" (click)="adlink(two?.url)">
      </ion-slide>

    </ion-slides>
    <img src="assets/imgs/ad_b2.png" class="slideimg" *ngIf="!levelThreeAd.length">
    <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!levelThreeAd.length" ></ion-spinner>-->
  </div>
  <!--Recent product list-->
  <div *ngIf="showfirst"  class="productdiv" >
    <ion-row  >
      <ion-col>
        <p color="text" style="font-weight: bold;color:#9e9e9e; margin-left:10px;" no-margin padding-10 >Recent Products</p>
      </ion-col>
      <ion-col>
        <p float-end color="text2" style="color:#4caf50" no-margin padding-10 (click)="viewAll()" >view all &nbsp;<ion-icon name="arrow-round-forward" ></ion-icon></p>
      </ion-col>
    </ion-row>
  </div>

  <div >
    <ion-scroll scrollX="true" direction="x" class="productscroll" *ngIf="recentProduct.length"  >
      <ion-card *ngFor="let product of recentProduct|slice:0:10" class="productcard" (click)="goDetails(product?.id)">
      <img src="{{product?.productimage}}"     class="productImage"/>
      <ion-card-content text-center>
        <ion-card-title class="cardtitle" style="text-align: center; width:100%;" >
          <h3  color="text" style="font-size:1.2rem" wrap>{{product?.name}}</h3>
          <p style="font-size: 12px;color:#9e9e9e"> from</p>
          <h3 style="color:green"><b>&#8358; {{product?.price?.slice(0,-3)}}</b></h3>

        </ion-card-title>
      </ion-card-content>
    </ion-card>
    </ion-scroll>
    <ion-scroll scrollX="true" direction="x" class="productscroll" *ngIf="!recentProduct.length"  >
    <ion-card *ngFor="let product of threeProduct|slice:0:6" class="productcard" (click)="goDetails(product?.id)">
      <img src="{{product?.productimage}}"     class="productImage"/>
      <ion-card-content text-center>
        <ion-card-title class="cardtitle" style="text-align: center; width:100%;" >
          <h3  color="text" style="font-size:1.2rem" wrap>{{product?.name}}</h3>
          <p style="font-size: 12px;color:#9e9e9e"> from</p>
          <h3 style="color:green"><b>&#8358; {{product?.price?.slice(0,-3)}}</b></h3>

        </ion-card-title>
      </ion-card-content>
    </ion-card>
    </ion-scroll>
  </div>
</ion-content>
