page-home {
  #titleimg{
    //background-size: cover;
    padding-top:7px;
    height:30px;
  }
  .slideimg{
    //background-image: url('assets/img/preloader.gif');
    width:100%;
    height: 100%;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position-x: center;
    //background-position-y: center;

  }
  .img-loaded + ion-spinner {
    display:none;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
    margin-top:auto !important;
    margin-bottom: auto !important;
    display: block;
  }
  #searchbar{
    //position:absolute;
    //top:200px;
    //z-index: 1;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;



  }
  .searchbar-md {
    background: inherit;
    padding: 0px !important;
  }
  .searchbar-md .searchbar-search-icon, .searchbar-md .searchbar-md-cancel {
    //position: absolute;
    //background-repeat: no-repeat;
    //background-size: 20px;
    //font-weight: 600;
    //padding-top:5px;
    //padding-bottom:5px;
  }
  .searchbar-md .searchbar-search-icon {
    left: 16px;
    top: 20px;
  }
  .searchbar-md .searchbar-input{
    height: 50px !important;
    width:100% !important;

  }

  .shopImage{
    width:100px;
    height:100px;
    padding:0 auto;
    margin:10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .productImage{
    width:200px;
     height:150px;
    padding:0px auto;
    background-size: cover;
  }
  .customloader{
    background: transparent;
    width:80px;
    height: 80px;
  }
  .custom-spinner-container{
    margin:20% auto;
  }

  .productdiv{
    padding-top:2px;
    margin-bottom: 15px;
    margin-top:15px;

  }
  #dealdiv{
    padding-top:15px;
    margin-bottom: 15px;
    margin-top:15px;

  }
  #searchresult{
    //padding-top:0px;
    //padding-bottom: 0px;
    //margin-top:0px;

  }
  .grid{
    padding-top:0 !important;
  }
  #secondadvert{
    //padding:8px 0;
    margin:1px 0px !important;
  }
  .scroll-content{
    margin-top: 70px !important;
    margin-bottom: 50px !important;
  }

  //scrolling item
  .firstproductdiv{
    height: 500px;
    margin:5px 0;
  }
  .productscroll .scroll-content{
    margin-top:0 !important;
    margin-bottom:0 !important;
    //height: 450px;
  }
  #dealscroll .ion-scroll{
    //height:120px ;
  }
  #dealscroll .scroll-content{
    margin-top:0 !important;
    margin-bottom:0 !important;
  }
  .scroll-item {
    display: inline-block;
  }
  .scroll-zoom-wrapper {
    white-space: nowrap;
  }
  ion-scroll {
    height: 250px;

    .scroll-content {
      padding: 0px !important;
    }
  }
  .productcard {
    width: 38% !important;
    display: inline-block;
    //box-shadow: 1px 10px 10px rgba(0, 0, 0, .1);
    //padding:2px;
    //min-height:350px;
  }
  .dealcard {
    width: 25% !important;
    display: inline-block;
  }
  .card-md {
    margin: 2px !important;
  }
  .card-ios {
    margin: 2px !important;
  }
  .card-content-md {
    padding: 1px 0 15px 0!important;
    /* font-size: 1.4rem; */
    line-height: 1.2;
    //padding: 0px 0px !important;
  }
  .cardtitle{
    width:100%;
    //text-align: center;
    //padding:0px auto !important;
  }
  .card-title-md {
    margin: 0 0 !important;
     padding: 0px 0px !important;
  }


}
