page-map {
  .scroll {
    height: 100%;
  }
    //ion-app._gmaps_cdv_ .nav-decor{
    //  background-color: transparent !important;
    //}
  #map {
    width: 100%;
    height: 100%;
  }
  ion-card {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    z-index: 100;
  }

}

//ion-app._gmaps_cdv_ .nav-decor{
//  background-color: transparent !important;
//}
