
<ion-header>

  <ion-navbar transparent>
    <ion-row>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0; font-size:5px;"> Location</ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <div #directionsPanel></div>
    </ion-card-content>
  </ion-card>
  <div #map id="map"></div>
</ion-content>
