<ion-menu [content]="content" hideBackButton="false">
  <!--<ion-header  >-->
    <!--<ion-toolbar >-->
      <!--<ion-title text-center  >Menu</ion-title>-->
    <!--</ion-toolbar>-->

  <!--</ion-header>-->

  <ion-content>
      <!--<ion-card text-center class="hide-card">-->
          <img src="assets/imgs/top_header.png" class="hide-card"/>
          <!--<div >-->
             <!--<h2 style="color:#fff;">{{name}}</h2>-->
            <!--<p style="color:#fff;">{{email}}</p>-->
          <!--</div>-->

      <!--</ion-card>-->



    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>

    </ion-list >
    <!--<ion-item >-->
        <ion-item no-lines text-center style="font-size:10px;padding-bottom:10px;position:fixed;bottom:0;"> &copy; MyPrice</ion-item>
    <!--</ion-item>-->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">

</ion-nav>
