// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/details/details";
ion-title{
  font-weight: bold;
}
.notification{
  background-color: transparent !important;
    display: inline-block;
    font-size: 1.4em !important;
    padding-top:5px;
}

ion-header{
  background: #fff;
}
.productImage{
  background-size: contain;
  padding:0 auto;
  margin:0 auto;
}
.menutitle{
  background: #56ab2f;
  background: -webkit-linear-gradient(135deg, #56ab2f, #a8e063);
  background: linear-gradient(-55deg, #56ab2f, #a8e063);
}

.hide-card {
  -webkit-box-shadow: none!important;
  width:100%;
  //background-image: url("../assets/imgs/sidebar.png");
  //color:#fff;
  //padding:10px;
  //margin:0;
  //background: #56ab2f;
  ////background: -webkit-linear-gradient(135deg, #00a8e5, #e92e7e);
  ////background: linear-gradient(-55deg, #00a8e5, #e92e7e);
  //background: -webkit-linear-gradient( #56ab2f, #a8e063);
  //background: linear-gradient( #56ab2f, #a8e063);
}
ion-loading.myLoader{
    color:#65b438;
  .loading-wrapper {
    //color:green;
    //background: transparent;
    box-shadow: none;
  }

}
//.myLoader{
//  color:#65b438;
//}
.item-md{
  color:#616161;
}
.item-ios{
  color:#616161;
}

.custom-avatar {
  height: 20vw;
  width: 60vw;

  //border: 1px solid #fff;
  //border-radius: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.noResultCover{display:block;margin-top:25%;margin-bottom:25%;}
.noResultImg{
  height: 200px;
  width: auto;
  margin: auto;
  display: block;
}
ion-app.md [margin], ion-app.md [margin] .scroll-content {
  margin: 8px;
}
.error {
  text-align: center;

  .toast-wrapper{
    background: darken(#ed4039, 25%);
  }
}

//color:#65b438;
