<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>intro</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->

<!--<ion-header no-border>-->

  <!--<ion-navbar transparent>-->

  <!--</ion-navbar>-->
<!--</ion-header>-->
<ion-content padding>
  <ion-slides pager="true" parallax="true">

    <ion-slide >
      <!--<div text-center style="height: 20%">-->
        <button ion-button float-end outline small (click)="skip()" style="width:100px;margin-top:60px;"> Skip</button>
      <!--</div>-->
      <div style="height: 80%">
      <img src="assets/imgs/splash1.png" style="width:100%; height: 100%">
      </div>
      <!--<ion-icon name="analytics" style="font-size:5em; margin: 0 auto;"></ion-icon>-->
      <!--<h1>Welcome to myprice!</h1>-->

    </ion-slide>

    <ion-slide >
      <!--<div text-center style="height: 20%">-->
        <button ion-button float-end outline small (click)="skip()" style="width:100px;margin-top:60px;"> Skip</button>
      <!--</div>-->

      <div style="height: 80%">
        <img src="assets/imgs/splash2.png" style="width:100%; height: 100%;">
      </div>

      <!--<ion-icon name="basket" style="font-size:5em; margin: 0 auto;"></ion-icon>-->
      <!--<h1>All of the features</h1>-->
      <!--<p>Here's what you can do with the app...</p>-->
      <!--<button ion-button outline small (click)="skip()">-->
        <!--Skip-->
      <!--</button>-->
    </ion-slide>
    <!--style="background-image: url()"-->
    <ion-slide>
      <!--<div text-center style="height: 20%">-->
        <button float-end ion-button outline small (click)="navHome()" style="margin-top:60px;">
          Start using the app
        </button>
      <!--</div>-->

      <div style="height: 80%">
        <img src="assets/imgs/splash3.png" style="width:100%; height: 100%">
      </div>

      <!--<ion-icon name="basket" style="font-size:5em; margin: 0 auto;"></ion-icon>-->
      <!--<h1>Get started now!</h1>-->

    </ion-slide>

  </ion-slides>
</ion-content>
