page-search {
  .toolbar-md {
    padding: 0px !important;
    min-height: 56px;
  }
  ion-searchbar {
    width: 100%;
    //margin:0 10px;

  }
  .searchbar-md .searchbar-input {
    height: 50px;
    font-size: 1.9rem;
  }
  .searchbar-md .searchbar-search-icon {
    top: 20px !important;
  }
  ion-app [no-padding], ion-app [no-padding] .scroll-content {
    padding: 20px 0px !important;
  }
  //[col-10
  // ] {
  //  padding: 8px !important;
  //}
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .productimg{
    width:60px;
    height:60px;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position-x: center;
    //background-position-y: center;
  }
  .suggestionBox{
    z-index:2000;
    position:absolute;
    height:200px;
    top:0;left:0;right:0;bottom:0;
    background-color: rgba(0,0,0,0);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  element.style {
    z-index: 10;
  }
  .card-md {
    margin: 0px !important;
    width:100% !important;
  }
}
