<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-row>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="ios-menu-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0"> Search </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>

  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar
      (search)="getItems($event)" style="height: 50px;" (ionInput)="toType($event)" (ionCancel)="ionCancel($event)"
      id="searchbars" placeholder="Search Products" (ionClear)="toClear($event)"  >
    </ion-searchbar>

  </ion-toolbar>
</ion-header>


<ion-content  style="background-color:#f4f4f4;">
  <div *ngIf="searchIsActive" class="suggestionBox">
    <!--<ion-list>-->
    <ion-item *ngFor="let product of items" (click)="selected(product)">
      {{product}}
    </ion-item>
    <!--</ion-list>-->

  </div>
  <!--*ngFor="let product of items"-->
  <!--[approxItemHeight]="'15px'"-->
  <!--<div >-->
    <ion-list [virtualScroll]="products"  style="margin-bottom:5px;" [approxItemHeight]="'200px'" [approxItemWidth]="'200px'"  >

      <ion-item *virtualItem="let product;let i=index " no-margin style="width: 100%;" >
        <!--<ion-card-content>-->
        <ion-row no-margin no-padding>
          <ion-col col-11>
            <ion-row (click)="goDetail(product?.id)">
              <ion-col col-5>
                <img src="{{product?.productimage}}" style="height: 120px; width:200px;" />
              </ion-col>
              <ion-col col-6 margin-vertical style="padding-top:20px;">
                <b style="font-size: 14px; font-weight:500;white-space: normal" >{{product?.name}}</b><br>
                <b style="font-size:18px; font-weight: bolder;color:#65b438" end>&#8358;{{product?.price?.slice(0,-3)}}</b><br>

                <p style="font-size:12px;color:#9e9e9e;padding-top:5px" >{{product.shopowner}}</p>
              </ion-col>

            </ion-row>
          </ion-col>
          <ion-col col-1>
            <ion-icon [name]="product.icon || initialButtonIcon" style="margin-top:10px; font-size:1.5em" (click)="addToFavour(product.name,product.productimage,product.price,product?.shopowner,product?.id,product)" ></ion-icon>
          </ion-col>
        </ion-row>


        <!--</ion-card-content>-->
      </ion-item>
    </ion-list>
  <!--</div>-->

  <!--</ion-scroll>-->
  <!--<div *ngIf="forSearch">-->
    <!--<div *ngIf="searchProduct.length">-->
      <!--<ion-list [virtualScroll]="searchProduct"  style="margin-bottom:5px;" [approxItemHeight]="'200px'" [approxItemWidth]="'200px'"   >-->

        <!--<ion-item *virtualItem="let product" no-margin style="width: 100%;" >-->
          <!--&lt;!&ndash;<ion-card-content>&ndash;&gt;-->
          <!--<ion-row >-->
            <!--<ion-col col-5>-->
              <!--<img src="{{product?.productimage}}" style="height: 120px; width:200px;" (click)="goDetail(product?.id)"/>-->
            <!--</ion-col>-->
            <!--<ion-col col-6 margin-vertical style="padding-top:20px;">-->
              <!--<b style="font-size: 14px; font-weight:500;white-space: normal" >{{product?.name}}</b><br>-->
              <!--<b style="font-size:18px; font-weight: bolder;color:#65b438" end>&#8358;{{product?.price?.slice(0,-3)}}</b><br>-->

              <!--<p style="font-size:12px;color:#9e9e9e;padding-top:5px" >{{product.shopowner}}</p>-->
            <!--</ion-col>-->
            <!--<ion-col col-1>-->
              <!--<ion-icon name="ios-heart-outline" style="margin-top:10px; font-size:1.5em" (click)="addToFavour(product.name,product.productimage,product.price,product?.shopowner,product?.id)" ></ion-icon>-->
            <!--</ion-col>-->
          <!--</ion-row>-->

          <!--&lt;!&ndash;</ion-card-content>&ndash;&gt;-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</div>-->
    <!---->
    <!--<div *ngIf="!searchProduct.length" class="noResultCover">-->
      <!--<img src="assets/imgs/search.png" class="noResultImg"/>-->
      <!--<p style="text-align: center">No Result Found</p>-->
    <!--</div>-->
  <!--</div>-->


</ion-content>
