<!--
  Generated template for the ForgotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-row margin>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-9>
        <ion-title text-end style="font-size:5px;">Reset Password</ion-title>
      </ion-col>

    </ion-row>



  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label Stacked primary>Email</ion-label>
        <ion-input type="text"  name="email" [(ngModel)]="email" required></ion-input>
  </ion-item>
  <button  ion-button block  id="loginbtn" (click)="resetPassword()"  class="w3-btn" style="margin-top:15px;"><b>Reset Password</b></button>
</ion-content>
