<!--
  Generated template for the ItemmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar transparent>
    <ion-row margin>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0"> List Item </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="notifications" ></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right *ngIf="!addCheck">
    <button ion-fab mini color="secondary" (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab top right *ngIf="addCheck">
    <button ion-fab mini color="secondary" (click)="view()"><ion-icon name="eye"></ion-icon></button>
  </ion-fab>

  <ion-list *ngIf="!addCheck">
    <!--[style.text-decoration]="checked ? 'line-through' : 'none'"-->
    <ion-item *ngFor="let item of items">
      <ion-label  >{{item.product}} <br><span>&#8358;{{item.price}}</span> </ion-label>
      <ion-checkbox></ion-checkbox>

      <!--<ion-item-options side="right">-->
        <!--<button ion-button color="danger" (click)="delete(item.id)">-->
          <!--<ion-icon name="trash"></ion-icon> Delete-->
        <!--</button>-->
      <!--</ion-item-options>-->
    </ion-item>

  </ion-list>
  <!--<div *ngIf="addCheck">-->
      <!--<io n-item>-->
          <!--<ion-select [(ngModel)]="listid" >-->
            <!--<ion-option>select List</ion-option>-->
            <!--<ion-option value="{{list.id}}" *ngFor="let list of lists">{{list.title}}</ion-option>-->
          <!--</ion-select>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
          <!--<ion-label floating>Product</ion-label>-->
        <!--<ion-input type="text" [(ngModel)]="product" ></ion-input>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label floating>Price</ion-label>-->
        <!--<ion-input type="text"[(ngModel)]="price" ></ion-input>-->
      <!--</ion-item>-->
      <!--<button ion-button block id="addbtn" (click)="addItem()"> Add Item</button>-->
  <!--</div>-->
</ion-content>
