page-deals {
  .shopImage{
    width:100px;
    height:100px;
    padding:0 auto;
    margin:10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

      #productdiv{
          padding:20px;
        margin-top:16px;

      }
  #dealdiv{
    padding:20px;
    margin-top:16px;

  }


      .grid{
        padding-top:0 !important;
      }
}
