<!--
  Generated template for the DealsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar transparent>
      <ion-row>
        <ion-col col-3>
          <button ion-button menuToggle>
            <ion-icon name="ios-menu-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <ion-title text-center style="margin-left: 0;margin-right: 0;font-weight: bolder; font-size:5px;"> Deals </ion-title>
        </ion-col>
        <ion-col col-3>
          <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
        </ion-col>
      </ion-row>

    </ion-navbar>

  </ion-header>



<ion-content style="background-color:#f4f4f4">
  <ion-grid no-margin style="padding:4px;" no-padding>
      <ion-row >
        <ion-col *ngFor="let product of deals"  col-4 style="padding:2px;">
          <ion-card no-margin style="width: 100%; padding:2px;" class="" (click)=" showDeals(product?.id)"  >
            <img src="{{product?.ownerbrand}}"  style="height: 80px;" class="shopImage"/>
            <!--<ion-card-content>-->
              <!--<ion-card-title no-padding>-->
                <!--<p style="font-size: 10px;color: #9e9e9e" color="text">{{product?.shopowner}}</p>-->
              <!--</ion-card-title>-->
            <!--</ion-card-content>-->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
