<!--
  Generated template for the ProfileditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar transparent>
    <ion-row margin>
      <ion-col col-3>
        <button ion-button menuToggle>
          <ion-icon name="ios-arrow-round-back-outline" style="font-size:3.0em;padding-left:10px;" (click)="goBack()" ></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <ion-title text-center style="margin-left: 0;margin-right: 0;font-size: 5px;">Edit Profile </ion-title>
      </ion-col>
      <ion-col col-3>
        <button icon-only float-end (click)="closeV()">Close</button>
      </ion-col>
    </ion-row>


<ion-content padding>

</ion-content>
