page-details {
   ion-content{ background-color: #9e9e9e;}
  #price{
    text-decoration: line-through;
    color:red;
    font-size:8px;
  }
  .button-md,button-ios {
  border-radius: 0px !important;
  }
  ion-app.md [padding] {
    padding: 5px !important;
  }


}
