<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="ios-menu-outline"></ion-icon>
    </button>
    <ion-row>
      <ion-col col-9>
        <ion-title style="margin-left: 0;margin-right: 0;text-align: center;padding:0px auto;"> Details </ion-title>
      </ion-col>
      <ion-col col-3>
        <button float-end class="notification"><ion-icon name="ios-notifications-outline" ></ion-icon></button>
      </ion-col>
    </ion-row>
    </ion-navbar>

</ion-header>


<ion-content style="background-color:#fff;padding:16px !important;" >
    <div style="font-size:12px;color:#8bc34a; margin:15px 10px; padding-left:5px;" (click)="goback()"  ><ion-icon name="arrow-round-back" style="margin:0 5px;"></ion-icon>&nbsp;Back to Results</div>
    <div *ngFor="let one of product">
    <ion-card class="" >
      <ion-card-header no-padding>
        <!--<ion-icon  class="pull-right"  [name]="buttonIcon"(click)="toggleIcon(one?.id)" style="font-size:25px;padding-right:20px; padding-top:10px;"></ion-icon>-->
        <!--<ion-icon  class="pull-right"  name="add"(click)="showAddToList(one)" style="font-size:25px;padding-right:20px; padding-top:10px;"></ion-icon>-->
        <!--<p (click)="showAddToList(one)" class="pull-right" style="font-size:12px;padding-right:20px; padding-top:10px;">Add to list</p>-->
      </ion-card-header>
      <ion-card-content text-center>
        <img src="{{one.productimage}}" text-center style="width:100px; height:120px; margin:0 auto;" no-padding no-margin>
        <h3 text-center style="font-size:20px" no-padding no-margin><b>{{one.name}}</b></h3>
        <p text-center style="color:#9e9e9e;font-size:12px; margin-bottom:15px;" *ngIf="!dealprice">from &#8358; {{one.price?.slice(0,-3)}}/{{one?.size}} {{one?.measurement}} </p>

          <p text-center style="color:#9e9e9e;font-size:12px; margin-bottom:15px;" *ngIf="dealprice" >from &#8358; {{one.dealprice?.slice(0,-3)}}/{{one?.size}} {{one?.measurement}} </p>
        <!--<span id="price">{{one.price?.slice(0,-3)}}</span>-->


      </ion-card-content>
    </ion-card>
    <p style="font-size:12px;margin-left:20px;color:#424242;font-weight: 400;"><b>Details</b></p>
  <ion-card >
    <p justify-content-center padding style="color:#9e9e9e;font-size:10px;">{{one.description}}</p>
  </ion-card>
  <p style="font-size:12px;margin-left:20px; color:#9e9e9e;font-weight: bolder;"><b> Price starting form &#8358; {{one.price?.slice(0,-3)}}</b></p>
    <!-- other store -->
  <!--<ion-card>-->
    <!--<ion-row padding style="font-size:10px;">-->
      <!--<ion-col style="border-right:1px solid #9e9e9e;font-size:15px; font-weight: bolder" text-center><img src="{{one.ownerbrand}}" style="width:40px;height: 20px;background-size: cover"></ion-col>-->
      <!--<ion-col style="border-right:1px solid #9e9e9e;font-size:12px; font-weight: bolder" text-center>  <b>{{one.name}}</b></ion-col>-->
      <!--<ion-col text-center> <b style="font-size:15px; font-weight: bolder">&#8358; {{one.price?.slice(0,-3)}}</b><span style="font-size:10px;color:#9e9e9e;">/{{one?.size}} {{one?.measurement}}</span> </ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row no-padding no-margin>-->
      <!--<ion-col no-padding no-margin >-->
        <!--<button ion-button block color="secondary" style="height:35px;" (click)="goUrl(one.producturl)"-->
                <!--no-margin><span style="font-size:10px;">Buy Online&nbsp;&nbsp;&nbsp;</span> <ion-icon name="cart" style="color:#000;"></ion-icon></button></ion-col>-->
      <!--<ion-col no-padding no-margin><button ion-button block style="background-color:#424242;height:35px;"  no-margin (click)="locatestore(one.shopownerid)" ><span style="font-size:10px;">Locate Store&nbsp;&nbsp;&nbsp;&nbsp;</span> <ion-icon name="pin" style="color:#8bc34a"></ion-icon></button></ion-col>-->
      <!--<ion-col no-padding no-margin >-->
        <!--<button ion-button block color="newbtn" style="height:35px;" (click)="addToShopping(one)"-->
                <!--no-margin><span style="font-size:10px;">Add to List&nbsp;&nbsp;&nbsp;</span> <ion-icon name="list" style="color:#000;"></ion-icon></button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-card>-->
    </div>
     <!-- other store -->
  <ion-row *ngFor="let pice of storeprice" >
    <ion-card>
      <ion-row padding style="font-size:10px;" style="height: 120px">
        <ion-col style="border-right:1px solid #9e9e9e;font-size:15px; font-weight: bolder;" text-center><img src="{{pice.ownerbrand}}" style="width:100px;height: 100px;background-size: cover"></ion-col>
        <ion-col style="border-right:1px solid #9e9e9e;font-size:12px; font-weight: bolder" text-center> <br> <b>{{pice.name}}</b></ion-col>
        <ion-col text-center> <br> <b style="font-size:15px; font-weight: bolder">&#8358; {{pice.price?.slice(0,-3)}}</b><span style="font-size:10px;color:#9e9e9e;">/{{pice?.size}} {{pice?.measurement}}</span> </ion-col>
      </ion-row>
      <ion-row no-padding no-margin>
        <ion-col no-padding no-margin ><button ion-button block color="secondary" style="height:35px;" (click)="goUrl(pice.producturl)"
                                               no-margin><span style="font-size:10px;">Buy Online&nbsp;&nbsp;</span> <ion-icon name="cart" style="color:#000;"></ion-icon></button></ion-col>
        <ion-col no-padding no-margin><button ion-button block style="background-color:#424242;height:35px;"  no-margin (click)="locatestore(pice.shopownerid)" ><span style="font-size:10px;">Locate Store&nbsp;&nbsp;&nbsp;&nbsp;</span> <ion-icon name="pin" style="color:#8bc34a"></ion-icon></button></ion-col>
        <ion-col no-padding no-margin >
          <button ion-button block color="newbtn" style="height:35px;" (click)="addToShopping(pice)"
                  no-margin><span style="font-size:10px;">Add to List&nbsp;&nbsp;&nbsp;</span> <ion-icon name="list" style="color:#000;"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-row>


</ion-content>
